﻿@{
    string[] tables = { "Customers", "Contractors", "Projects", "CodeRequests" };
}
<h1 class="mt-3 mb-3 text-center">Product platform tables</h1>
<div class="row justify-content-center">
    @foreach (var item in tables)
    {
        <button type="button" class="btn btn-secondary mr-3" onclick="location.href='@Url.Action(item, "Tables")'">Open table '@item'</button>
    }
</div>